{% block content %}
    <h1>{% block title %} Posts {% endblock %}</h1>
<!--    {% for post in posts %}--> # remove this part
        <form action="http://localhost:5000/addposts" method="post"> # do i need to full path?
            <label for="Title">
            </label>
            <input type="Title" name="Title" placeholder="Title" id="Title" >
            <label for="content">
            </label>
            <input type="content" name="content" placeholder="content" id="content" >
            <input type="content" value="content">
            </label>
            <input type="title" name="Title" placeholder="Title" id="Title" >
            <input type="content" name="content" placeholder="content" id="content" >
            <input type="submit" value="addposts">
         </form>
      </div>
    {% endfor %}
{% endblock %}