
    <h1>{% block title %} Posts {% endblock %}</h1>
      <div>
        <form action="/editposts" method="POST">
            <label form="Edit Posts">Add new content:</label><br>
            <input type="text" id="Edit Posts" name="newbutton"><br>
<!--            <button type="submit" name="editbtn">Edit Post</button>-->
<!--          <label for="title">Title:</label><br>-->
<!--          <input type="text" id="Title" name="Title"><br>-->
<!--          <label for="content">Content:</label><br>-->
<!--          <input type="text" id="Content" name="Content">-->
<!--          <input type = "submit" value = "submit" />-->
         </form>
      </div>






